@media only screen and (max-width: 768px) {
  #Logo {
    position: relative;
    top: -30px;
    left: 10px;
  }
  .table {
    width: 340px;
    border-collapse: collapse;
    background-color: white;
    position:relative;
    top: 150px;
    left: 13px;
  }
